body {
    font-family: Arial;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    
}
//
.main-heading {

    align-content: center;
    

    width: 40rem;
    height: 4rem;
    font-family: Arial;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);

}

.left-content {

    display: flex;

    width: 23.8rem;
    height: 6rem;
    font-family: Arial;
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

